# C++ build artifacts
CppSrc/build/
CppSrc/bin/
CppSrc/Debug/
CppSrc/x64/
CppSrc/CMakeFiles/
CppSrc/CMakeCache.txt
CppSrc/_deps/
CppSrc/*.vcxproj
CppSrc/*.vcxproj.filters
CppSrc/*.sln
CppSrc/*.pdb
CppSrc/*.obj
CppSrc/*.exp
CppSrc/*.lib
CppSrc/*.ipch
CppSrc/*.aps
CppSrc/*.ncb
CppSrc/*.suo
CppSrc/*.sdf
CppSrc/*.opensdf
CppSrc/*.VC.db
CppSrc/*.VC.opendb

# FFTW binaries
CppSrc/fftw-3.3.5-dll64/*.dll
CppSrc/fftw-3.3.5-dll64/*.exe
CppSrc/fftw-3.3.5-dll64/*.lib
CppSrc/fftw-3.3.5-dll64/*.exp

# Rust build artifacts
RustSrc/target/
RustSrc/*.rlib
RustSrc/*.d
RustSrc/*.exe

# OS/IDE files
*.DS_Store
Thumbs.db
*.log

# Misc
*.tmp
*.bak


# Don't ignore source, configs, docs
!guide.md
!README.md
!CppSrc/include/
!CppSrc/src/
!CppSrc/tests/
!RustSrc/src/
!RustSrc/Cargo.toml
!RustSrc/Cargo.lock
!shared/


.idea/