name: Docker Build & Push

on:
  workflow_run:
    workflows:
      - 'Cpp_CI'      # <--- Doit correspondre EXACTEMENT au name du cpp_ci.yml
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    # On vérifie que le workflow C++ a réussi avant de lancer Docker
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,format=long

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: CppSrc
          file: CppSrc/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}